# Datasets
# ---------
project_datasets/
preprocessed_dataset/
*.csv


# Cashe files
# -------------
__pycache__/
.vscode/
*.ico
desktop.ini

# Models
# -------
*.pth
*.pt
*.save
*.pkl


# TensorBoard runs
# -----------------
runs/
# other_runs/
_quick_run/
*.txt

# *.pdf
.env
_PAPERS/