# Datasets
# ---------
project_datasets/
preprocessed_dataset/


# Cashe files
# -------------
__pycache__/
.vscode/
folderico-vdmEDi.ico
desktop.ini

# Models
# -------
*.pth
*.pt


# TensorBoard runs
# -----------------
runs/
# other_runs/
_quick_run/
*.txt

# *.pdf
.env